@import url(common.css);

body{
  font-family: 'Raleway', sans-serif;
  line-height: 26px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.card:hover{
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.content{
  position: absolute;
  top: 100%;
  left: 0;
  color: #fff;
  text-align: center;
  width: inherit;
  height: inherit;
  padding: 200px 20px 20px;
  box-sizing: border-box;
  transition: 0.5s;
}
.card:hover .content{top: 0;}